[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = " BottomBarDrawerLayout acts as a top-level container for window content that allows for interactive "
[access "refs/*"]
	owner = group user/Martin Rajniak (MartinRajniak)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Martin Rajniak (MartinRajniak)
	label-Verified = -1..+1 group user/Martin Rajniak (MartinRajniak)
	push = group user/Martin Rajniak (MartinRajniak)
	read = group user/Martin Rajniak (MartinRajniak)
	rebase = group user/Martin Rajniak (MartinRajniak)
	removeReviewer = group user/Martin Rajniak (MartinRajniak)
	submit = group user/Martin Rajniak (MartinRajniak)
[access "refs/heads/*"]
	create = group user/Martin Rajniak (MartinRajniak)
	push = +force group user/Martin Rajniak (MartinRajniak)
	pushMerge = group user/Martin Rajniak (MartinRajniak)
	read = group user/Martin Rajniak (MartinRajniak)
[access "refs/tags/*"]
	push = group user/Martin Rajniak (MartinRajniak)
	push = +force group user/Martin Rajniak (MartinRajniak)
